.staff {
  width: 1100px;
  margin: auto;
}
.staff ul {
  margin: 0;
  padding: 0;
}
.staff li {
  margin-bottom: 40px;
  list-style-type: none;
}
.staff li::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
.staff li .staff-logo-wrapper {
  float: left;
  width: 130px;
}
.staff li .staff-info {
  float: right;
  width: 970px;
}
.staff li .staff-info .staff-name {
  font-weight: bold;
}
.staff li .staff-info .staff-role,
.staff li .staff-info .staff-description {
  margin: 0.2em 0 0;
  font-size: 0.85em;
  padding: 0;
}
.staff li .staff-logo {
  width: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  border: 8px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px #ffffff, 0 -1px 2px rgba(0, 0, 0, 0.5);
}

#sponsors-platinum .thumbnail > img,
#sponsors-platinum .thumbnail > .no-logo
{
    width: 200px;
    height: 200px;
}
#sponsors-gold .thumbnail > img,
#sponsors-gold .thumbnail > .no-logo {
    width: 150px;
    height: 150px;
}
#sponsors-silver .thumbnail > img,
#sponsors-silver .thumbnail > .no-logo {
    width: 120px;
    height: 120px;
}
#sponsors-support .thumbnail > img,
#sponsors-support .thumbnail > .no-logo {
    width: 120px;
    height: 120px;
}
#sponsors-media .thumbnail > img,
#sponsors-media .thumbnail > .no-logo {
    width: 120px;
    height: 120px;
}
